 NG_LOG_LEVEL=INFO
 NG_SAFE_MODE=false
 NG_SERVICE_NAME=neurogenesis-api
 NG_SSE_KEEPALIVE_S=10
 NG_BUDGET_DEFAULT_MS=3000
 NG_TIMEOUT_DEFAULT_MS=1500
 NG_RETRY_MAX_ATTEMPTS=3
 NG_RETRY_BASE_DELAY_MS=200
 NG_CB_FAILURE_THRESHOLD=3
 NG_CB_RESET_TIMEOUT_S=30
 
 POSTGRES_USER=neuro
 POSTGRES_PASSWORD=neuro
 POSTGRES_DB=neurogenesis
